{% extends "website/base.html" %}
{% block content %}


    <body data-spy="scroll" data-target=".header" data-offset="50">


        <!-- hero area start -->
        <section class="hero-area" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-area-content">
                            <h1>Clicker Knight <br>
                                Incremental Idle RPG
                            </h1>                            <p>Travel through the wilderness, slaying monsters and collecting epic loot in this Idle RPG! Tap to cast spells, upgrade your hero with unique abilities and craft potions to defeat your enemies! Assign your stat points and click to win in Clicker Knight and epic incremental idle RPG! </p>

                            <a href="#" class="appao-btn">Google Play Store</a>

                        </div>

                    </div>
                    <div class="col-lg-5">

                        <div class="hand-mockup text-lg-left text-center">
                            <img src="static/img/hand-mockup.png" alt="Hand Mockup" />

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- hero area end -->


        <!-- about section start -->
        <!-- <section class="about-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h2>Start As A Hero <br>
                                Become A Legend
                                <span class="sec-title-border"><span></span><span></span><span></span></span></h2>
                            <p>Lovers of RPG games and incremental clickers won’t be able to put it down</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-about-box">
                            <i class="icofont icofont-ruler-pencil"></i>
                            <h4>50+ <br>
                            Thousand Downloads</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-about-box active">
                            <i class="icofont icofont-computer"></i>
                            <h4>Free Download</h4>
                            <p>+ In-App</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-about-box">
                            <i class="icofont icofont-headphone-alt"></i>
                            <h4>Everyone 10+</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div> -->
       <!--  </section> --><!-- about section end -->

        <!-- counter section start -->




                        <!-- http://www.jquery2dotnet.com/ -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <h1 class="rating-num">
                            4.0</h1>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>1,050,008 total
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="glyphicon glyphicon-star"></span>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                        <span class="sr-only">15%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





        <!-- feature section start -->
        <section class="feature-area ptb-90" id="feature">
            <div class="container">
                <div class="row flexbox-center">
                    <div class="col-lg-6">
                        <div class="single-feature-box text-lg-right text-center">
                            <ul>
                                <li>
                                    <div class="feature-box-info">
                                        <h4>Explore!</h4>
                                        <p>Use your tap powers for epic loot!<br> Each zone is packed with tough monsters. Craft unique gear and potions in an epic clicker! </p>
                                    </div>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-brush"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box-info">
                                        <h4>Battle Monsters</h4>
                                        <p>Battle for rare loot! Tap any monster that comes your way</p>
                                    </div>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-computer"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box-info">
                                        <h4>Collect Loot</h4>
                                        <p>Your idle hero needs epic loot to survive! Find hidden loot and customize your hero.</p>
                                    </div>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-law-document"></i>
                                    </div>
                                </li>
                               <!--  <li>
                                   <div class="feature-box-info">
                                       <h4>Full Free Chat</h4>
                                       <p>Lorem ipsum dolor amet consectetur adipisicing eiusmod </p>
                                   </div>
                                   <div class="feature-box-icon">
                                       <i class="icofont icofont-heart-beat"></i>
                                   </div>
                               </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-feature-box text-center">
                            <img src="static/img/feature.png" alt="feature">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single-feature-box text-center">
                            <img src="static/img/feature.png" alt="feature">
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <div class="single-feature-box text-lg-left text-center">
                            <ul>
                                <!-- <li>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-eye"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4>Retina ready</h4>
                                        <p>Lorem ipsum dolor amet consectetur adipisicing eiusmod </p>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-sun-alt"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4>High Resolution</h4>
                                        <p>Lorem ipsum dolor amet consectetur adipisicing eiusmod </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-code-alt"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4>Clean Codes</h4>
                                        <p>Lorem ipsum dolor amet consectetur adipisicing eiusmod </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box-icon">
                                        <i class="icofont icofont-headphone-alt"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4>Join Us on Discord</h4>
                                        <p>Lorem ipsum dolor amet consectetur adipisicing eiusmod </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>



                </div>
            </div>
        </section><!-- feature section end -->
        <!-- showcase section start -->
        <section class="showcase-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="sec-title">
                            <h2>Showcase<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                        </div> -->
                    </div>
                </div>
                <div class="row flexbox-center">
                    <div class="col-lg-6">
                        <div class="single-showcase-box">
                            <h3>Incremental Clicker Action</h3>
                            <p>Play as much or as little as you like! Your hero keep leveling up even when you are offline. Return to collect the loot and riches your hero collected while you were offline! </p>
                            <a href="#" class="appao-btn appao-btn2">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-showcase-box">
                            <img src="static/img/showcase.png" alt="showcase">
                        </div>
                    </div>
                </div>
                <div class="row flexbox-center">
                    <div class="col-lg-6">
                        <div class="single-showcase-box">
                            <img src="static/img/showcase2.png" alt="showcase">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-showcase-box">
                            <h3>Traverse 74 Unique Worlds</h3>
                            <p>Lovers of RPG games and incremental clickers won’t be able to put down this idle monster battling RPG. Go on an epic tap quest, explore zones to battle monsters and defeat the tough dungeon bosses. You never know what could creep up on your hero- keep your tapping reflexes sharp in Clicker Knight! </p>
                            <a href="#" class="appao-btn appao-btn2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- showcase section end -->
        <!-- video section start -->
        <section class="video-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="video-popup">
                            <a href="https://www.youtube.com/watch?v=iEQVcA5TF68" class="popup-youtube"><i class="icofont icofont-ui-play"></i></a>
                            <h1>Watch Trailer</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- video section end -->
        <!-- screenshots section start -->
        <section class="screenshots-area ptb-90" id="screenshot">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h2>Screenshots<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
<!--                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                         -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="screenshot-wrap">
                            <div class="single-screenshot">
                                <img src="static/img/screenshot/screenshot_1.jpg" alt="screenshot" />
                            </div>
                            <div class="single-screenshot">
                                <img src="static/img/screenshot/screenshot_2.jpg" alt="screenshot" />
                            </div>
                            <div class="single-screenshot">
                                <img src="static/img/screenshot/screenshot_3.jpg" alt="screenshot" />
                            </div>
                            <div class="single-screenshot">
                                <img src="static/img/screenshot/screenshot_4.jpg" alt="screenshot" />
                            </div>
                          <!--   <div class="single-screenshot">
                              <img src="static/img/screenshot/screenshot5.jpg" alt="screenshot" />
                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- screenshots section end -->

        <!-- testimonial section start -->
        <section class="testimonial-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h1>Press<span class="sec-title-border"><span></span><span></span><span></span></span></h1>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonial-wrap">
                            <div class="single-testimonial-box">
                                <div class="author-img">
                                    <img src="static/img/pocket-gamer.jpeg" alt="author" />
                                </div>
                                <h5>Pocket Gamer</h5>
                                <p>Clicker Knight is an essential idle RPG, out now on Android </p>
                                <div class="author-rating">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                            </div>
                            <div class="single-testimonial-box">
                                <div class="author-img">
                                    <img src="static/img/14app.jpg" alt="author" />
                                </div>
                                <h5>148Apps.com</h5>
                                <p>No matter how you choose to play, Clicker Knight will allow you to explore unimpeded.</p>
                                <div class="author-rating">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                            </div>
                            <!-- <div class="single-testimonial-box">
                                <div class="author-img">
                                    <img src="static/img/author/author2.jpg" alt="author" />
                                </div>
                                <h5>Mary Balogh</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                                <div class="author-rating">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div> -->
                        <!-- <div class="testimonial-thumb">
                            <div class="thumb-prev">
                                <div class="author-img">
                                    <img src="static/img/author/author2.jpg" alt="author" />
                                </div>
                            </div>
                            <div class="thumb-next">
                                <div class="author-img">
                                    <img src="static/img/author/author2.jpg" alt="author" />
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section><!-- testimonial section end -->


        <!-- download section start -->
        <section class="download-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h2>Download Available<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
                            <p>Click Below To Download Clicker Knight Today! </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <a href="#" class="download-btn flexbox-center">
                                    <div class="download-btn-icon">
                                        <i class="icofont icofont-brand-android-robot"></i>
                                    </div>
                                    <div class="download-btn-text">
                                        <p>Available on</p>
                                        <h4>Android Store</h4>
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- download section end -->
        <!-- blog section start -->
        <section class="blog-area ptb-90" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h2>Our Latest Blog<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
<!--                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                             -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post">
                            <div class="post-thumbnail">
                                <a href="blog.html"><img src="static/img//blog1.JPG" alt="blog"></a>
                            </div>
                            <div class="post-details">
                                <!-- <div class="post-author">
                                    <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
                                    <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
                                    <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                                </div> -->
                                <h4 class="post-title"><a href="blog.html">UNLOCKING LEVEL 72 BOSS?!</a></h4>
                                <p>Want to level up in knight clicker?! Click here to learn this mysterious hack that will level you up to bad boss right away and cheap.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post">
                            <div class="post-thumbnail">
                                <a href="blog.html"><img src="static/img/blog2.jpg" alt="blog"></a>
                            </div>
                            <div class="post-details">
                                <!-- <div class="post-author">
                                    <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
                                    <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
                                    <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                                </div> -->
                                <h4 class="post-title"><a href="blog.html">Tips and Tricks: Ultimate 2019 Guide</a></h4>
                                <p>Start 2019 right with the official Clicker Knight Guide: Tips and Tricks to Unlocking your Knight potential. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-block">
                        <div class="single-post">
                            <div class="post-thumbnail">
                                <a href="blog.html"><img src="static/img/discord.jpg" alt="blog"></a>
                            </div>
                            <div class="post-details">
                                <!-- <div class="post-author">
                                    <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
                                    <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
                                    <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                                </div> -->
                                <h4 class="post-title"><a href="blog.html">Talk Game Dev. Join Us on Discord!</a></h4>
                                <p>Want to join the game dev comminuty and make your own aweomse game like Clicker Knight! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- blog section end -->


          {% endblock content %}
